span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.header-spacer {
	width: 100vw;
	height: 102px;
	float: left;
}

.header {
	width: 100vw;
	height: 102px;
	background-color: white;
	font-size: 16px;
	color: black;
	position: fixed;
	top: 0px;
	z-index: 9999;
	box-shadow: 0 2px 20px 0 rgb(158, 158, 158);
	display: block;
	text-align: left;
}

.logo {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	height: 102px;
	width: 80px;
	display: block;
	float: left;
	background-image: url('../images/logo-black.png');
	background-color: transparent;
	margin-left: 15vw;
}

.linkbox-item {
	text-align: center;
	width: auto;
	height: 102px;
	line-height: 102px;
	margin-left: 80px;
	background-color: white;
	display: inline-block;
	transition: border-bottom 0.05s;
	color: black;
}

.linkbox {
	background-color: white;
	margin: 0 auto;
	height: 102px;
	width: 100%;
}

.linkbox-item:hover {
	border-bottom: 3px solid black;
	cursor: pointer;
}
