.footer {
	width: 100vw;
	height: auto;
	background: #e7e7e7;
	float: left;
	text-align: center;
}

.footer-row {
	flex-wrap: wrap;
	display: flex;
}

.footer-column {
	width: 417px;
	height: auto;
	margin-top: 70px;
	flex: 1 1 50%;
	display: block;
}

.social-media {
	width: 130px;
	height: 50px;
	margin: auto;
	margin-top: 10px;
}

.logo-footer {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	height: 102px;
	width: 80px;
	background-image: url('../images/logo-black.png');
	background-color: transparent;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.facebook {
	background-image: url('../images/facebook.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	background-color: transparent;
	display: block;
	height: 29px;
	width: 29px;
	text-decoration: none;
	float: left;
}

.instagram {
	background-image: url('../images/instagram.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	background-color: transparent;
	display: block;
	height: 29px;
	width: 29px;
	text-decoration: none;
	float: left;
	margin-left: 15px;
}

.youtube {
	background-image: url('../images/youtube.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	background-color: transparent;
	display: block;
	height: 29px;
	width: 29px;
	text-decoration: none;
	float: left;
	margin-left: 20px;
}

.facebook:hover,
.instagram:hover,
.youtube:hover {
	opacity: 0.6;
	transition: opacity ease-in-out 0.2s;
}
